# Ignore everything in this directory
*
# Except these files
!.gitignore
!demand_data_example.yml
!demand_data.yml
!supply_data_error.yml
!supply_data_example.yml
!supply_data.yml
!test_case
!test_case/demand_data.yml
!test_case/supply_data.yml
!test_case/demand_data_tourist.yml
!test_case/supply_data_doubled_capacities.yml
!test_case/supply_data_increased_prices.yml
!test_case/supply_data_removed_full_service.yml
!ewgt23
!ewgt23/demand_data.yml
!ewgt23/supply_data.yml
!ewgt23/demand_data_tourist.yml
!ewgt23/supply_data_doubled_capacities.yml
!ewgt23/supply_data_increased_prices.yml
