# Ignore everything in this directory
*
# Except these files
!.gitignore
!demand_data_example.yaml
!demand_data.yaml
!supply_data_error.yaml
!supply_data_example.yaml
!supply_data.yaml

!calibration
!calibration/demand_data_target.yaml
!calibration/demand_data.yaml
!calibration/supply_data.yaml
!calibration/target.csv

!ewgt23
!ewgt23/demand_data.yaml
!ewgt23/supply_data.yaml
!ewgt23/demand_data_tourist.yaml
!ewgt23/supply_data_doubled_capacities.yaml
!ewgt23/supply_data_increased_prices.yaml

!renfe_tft
!renfe_tft/demand_data_2_weeks.yaml
!renfe_tft/demand_data_base.yaml
!renfe_tft/demand_data.yaml
!renfe_tft/supply_data.yaml

!test_case
!test_case/demand_data.yaml
!test_case/supply_data.yaml
!test_case/demand_data_tourist.yaml
!test_case/supply_data_doubled_capacities.yaml
!test_case/supply_data_increased_prices.yaml
!test_case/supply_data_removed_full_service.yaml
