# Ignore everything in this directory
*
# Except these files
!.gitignore
!demand_data_example.yaml
!demand_data_one_year.yaml
!supply_data_example.yaml
!supply_data_one_year.yaml

!calibration
!calibration/demand_data_target.yaml
!calibration/demand_data.yaml
!calibration/supply_data.yaml
!calibration/target_aggregated.csv
!calibration/target.csv

!calibration_rl
!calibration_rl/demand_data.yaml
!calibration_rl/supply_data.yaml
!calibration_rl/target_aggregated.csv
!calibration_rl/target_aggregated_one_day.csv
!calibration_rl/target_aggregated_one_week.csv

!supply_generator
!supply_generator/config.yaml
!supply_generator/supply_data.yaml
!supply_generator/supply_data_new.yaml

!test_case
!test_case/demand_data.yaml
!test_case/supply_data.yaml
